<div id="edit-merchant" class="flex flex-col gap-2">
    <nz-breadcrumb class="!my-4">
        <nz-breadcrumb-item><a routerLink="/app/dashboard">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>Merchant Management</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="flex flex-col">
        <app-filter-section (filterChange)="onFilterChange($event)" [columns]="listOfColumn">
            <div class="action-right flex gap-2">
                <div class="flex gap-3">
                    <!-- <app-filter-search [filters]="filters" (onSubmitEvent)="applyFilter($event)"></app-filter-search> -->
                    <app-filter-search [filters]="filters"></app-filter-search>
                </div>
            </div>
        </app-filter-section>

        <!-- Status Tabs -->
        <div class="flex gap-2 my-5 statusTabs">
            <button nz-button
                [ngClass]="{'bg-black text-white': selectedStatus === 'All', 'btn-border text-[#75747F]': selectedStatus !== 'All'}"
                (click)="filterByStatus('All')">All</button>
            <button nz-button
                [ngClass]="{'bg-black text-white': selectedStatus === 'Approved', 'btn-border text-[#75747F]': selectedStatus !== 'Approved'}"
                (click)="filterByStatus('Approved')">Approved</button>
            <button nz-button
                [ngClass]="{'bg-black text-white': selectedStatus === 'Pending', 'btn-border text-[#75747F]': selectedStatus !== 'Pending'}"
                (click)="filterByStatus('Pending')">Pending</button>
            <button nz-button
                [ngClass]="{'bg-black text-white': selectedStatus === 'Review Requested', 'btn-border text-[#75747F]': selectedStatus !== 'Review Requested'}"
                (click)="filterByStatus('Review Requested')">Review Requested</button>
        </div>

        <div class="tableWrap !m-0 !p-0">
            <nz-table [nzLoading]="isLoading" [nzFrontPagination]="false" [nzShowPagination]="true" #basicTable
                [nzData]="merchantDataList">
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of listOfColumn">
                            <th *ngIf="column.visible" [nzShowSort]="false">
                                {{ column.title | uppercase }}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i=index;">
                        <ng-container *ngFor="let column of listOfColumn">
                            <ng-container *ngIf="data && column.visible">
                                <ng-container [ngSwitch]="column.property">
                                    <td *ngSwitchCase="'serialNo'">{{i + 1}}</td>
                                    <td *ngSwitchCase="'complianceStatus'">
                                        <span class="status " [ngClass]="{'status-approved': data.complianceStatus === 'Approved',
                                        'status-pending': data.complianceStatus === 'Pending',
                                        'status-review': data.complianceStatus === 'Review Requested'}">
                                            {{ data.complianceStatus || '-' }}
                                        </span>
                                    </td>

                                    <td *ngSwitchCase="'action'">
                                        <img [matMenuTriggerFor]="actionMenu" src="assets/svgs/more_action.svg"
                                            class="h-[28px] w-[28px] !border !border-solid rounded-full hover:border-[--primary-color] cursor-pointer">
                                        <mat-menu class="custom-action-menu" #actionMenu="matMenu">
                                            <!-- Label -->
                                            <div (click)="$event.stopPropagation()" class="menu-label">Actions</div>
                                            <div class="menu-divider"></div>

                                          <!-- View Details -->
<button
  class="action-btn"
  [routerLink]="['/app/merchant/detail', data.merchantId]">
  <img src="assets/svgs/view_merchant_icon.svg" class="icon" />
  <span>View Details</span>
</button>

<!-- Edit Merchant -->
<button
  class="action-btn"
  [routerLink]="['/app/merchant/edit', data.merchantId]">
  <img src="assets/svgs/edit_merchant_icon.svg" class="icon" />
  <span>Edit Merchant</span>
</button>

<!-- View Review -->
<button
  class="action-btn"
  (click)="updateMerchantStatus(data, data.merchantStatusId === 1 ? 2 : 1)">
  <img src="assets/svgs/view-review-icon.svg" class="icon" />
  <span>View Review</span>
</button>

                                        </mat-menu>

                                    </td>
                                    <td *ngSwitchDefault>{{ data[column.property] || '-' }}</td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tr>
                </tbody>
            </nz-table>
            <app-pagination [pagination]="pagination" (changeEvent)="paginationChange($event)"></app-pagination>
        </div>
    </div>
</div>