.actionWrap {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tableWrap {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

nz-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
  }

  th {
    background-color: #f5f5f5;
    font-weight: 500;
    color: #595959;
  }

  td {
    color: #2c2c2c;
  }
}
.status{
    width: max-content !important;
}
.ant-table-tbody > tr > td{
    word-break: break-word !important;
    max-width: 130px !important;
}
.statusTabs{
button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000000; 
  min-height: 36px;
}

.bg-black {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.btn-border {
  border: #C4C4C4 1px solid !important ;
  color: #75747F !important;
}
}
::ng-deep .custom-action-menu {
  margin-top: 0.5rem !important;
  background-color: #ffffff !important;
  border: 1px solid #e5e7eb !important;
  padding: 0.5rem !important;
  border-radius: 0.5rem !important;
  width: 200px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

::ng-deep .custom-action-menu .menu-label {
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
}

::ng-deep .custom-action-menu .menu-divider {
  border-top: 1px solid #92CF4F;
  margin: 4px 0;
}

.action-btn {
  @apply w-full flex items-center gap-2 px-4 py-2 rounded text-left transition-colors duration-200;
  background-color: transparent;
  color: #000;
  fill: #000;

  &:hover {
    background-color: #000;
    color: #fff;
    fill: #fff;

    img {
      filter: brightness(0) invert(1);
    }
  }

  img.icon {
    width: 20px;
    height: 20px;
  }
}
