<div id="edit-merchant" class="flex flex-col gap-4">
  <nz-breadcrumb class="my-[24px]">
    <nz-breadcrumb-item><a routerLink="/app/dashboard">Home</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/app/merchant">Merchant Management</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Create Merchant</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="flex flex-row gap-2.5">
    <!-- Menu -->
    <div *ngIf="currentStep < 5" class="flex flex-col min-w-[260px] max-w-[300px] bg-[--text-color] rounded px-4 py-[24px] box-shadow">
      <div class="font-semibold border-b border-b-[--secondary-color] mb-1.5 p-1.5">
        Menu
      </div>
      <div class="p-2.5 hover:bg-[--hover-color] cursor-pointer my-1.5 rounded-md font-medium cursor-not-allowed" [ngClass]="{'cursor-pointer': currentStep < step.id }" (click)="currentStep > step.id ? currentStep = step.id : null" [ngClass]="{ 'bg-[--secondary-color]': step.id == currentStep }" *ngFor="let step of steps">
        {{ step.name }}
      </div>
    </div>

    <!-- Menu Content -->
    <div class="w-full bg-[--text-color] rounded p-8 box-shadow">
      <ng-container [ngSwitch]="currentStep">
        <ng-container *ngIf="currentStep == 1">
          <ng-container *ngTemplateOutlet="basicInformationTemp; context: { data: null }"></ng-container>
        </ng-container>
        <ng-container *ngIf="currentStep == 2">
          <ng-container *ngTemplateOutlet="contactInformationTemp; context: { data: null }"></ng-container>
        </ng-container>
        <ng-container *ngIf="currentStep == 3">
          <ng-container *ngTemplateOutlet="settlementDetailTemp; context: { data: null }"></ng-container>
        </ng-container>
        <ng-container *ngIf="currentStep == 4">
          <ng-container *ngTemplateOutlet="attachmentsTemp; context: { data: null }"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #basicInformationTemp let-data="data">
  <div class="flex flex-col">
    <form [formGroup]="basicInformation" class="flex flex-wrap justify-between gap-y-4 gap-x-2.5 w-full">
      <div class="flex justify-between w-full border rounded-md border-[--secondary-color] p-2.5">
        <div class="flex gap-4">
          <input #fileUpload hidden class="input-image" type="file" accept="image/*" (change)="onFileChange($event)">
          <div *ngIf="!basicInformation.value.logoUrl" (click)="fileUpload.click()" class="h-[80px] w-[80px] bg-[--field-color] cursor-pointer hover:border hover:border-[--secondary-color] flex justify-center items-center">
            <img src="assets/svgs/plus.svg">
          </div>
          <img *ngIf="basicInformation.value.logoUrl" (click)="fileUpload.click()" class="max-w-[80px] max-h-[80px] border rounded border-solid p-1 hover:border-[--secondary-color]" [src]="basicInformation.value.logoUrl">
          <div class="flex items-center font-medium text-md">
            Upload Company Logo
          </div>
        </div>
        <div class="flex flex-col gap-1.5 justify-end">
          <div class="flex gap-2.5 items-center text-sm">
            <i nz-icon nzType="info-circle" class="text-[--secondary-color]"></i>
            <span class="font-semibold">File Size & Format</span>
          </div>
          <div class="text-xs">Less than 5 MB & PNG, JPG</div>
        </div>
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Merchant Name</label>
        <input nz-input type="text" maxlength="100" formControlName="merchantName" placeholder="Enter Merchant name" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Merchant Code</label>
        <input nz-input type="text" maxlength="100" formControlName="accountCode" placeholder="Enter code" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Country</label>
        <nz-select nzShowSearch class="w-full mt-3 rounded-md" formControlName="country" nzPlaceHolder="Select Country">
          <nz-option *ngFor="let country of dummyCountryList" [nzLabel]="country.name" [nzValue]="country.id"></nz-option>
        </nz-select>
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">City</label>
        <nz-select nzShowSearch class="w-full mt-3 rounded-md" formControlName="cityId" nzPlaceHolder="Select City">
          <nz-option *ngFor="let city of dummyCityList" [nzLabel]="city.name" [nzValue]="city.id"></nz-option>
        </nz-select>
      </div>
      <div class="flex gap-3 mt-4 w-full">
        <button (click)="currentStep = currentStep - 1" nz-button type="button" [disabled]="currentStep === 1">Previous</button>
        <button (click)="incrementStep(basicInformation)" nz-button type="button" class="button-primary">Next</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contactInformationTemp let-data="data">
  <div class="flex flex-col">
    <form [formGroup]="contactInformation" class="flex flex-wrap justify-between gap-y-4 gap-x-2.5 w-full">
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Merchant Email</label>
        <input nz-input type="email" maxlength="320" formControlName="email" placeholder="Enter Merchant Email" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Merchant Phone</label>
        <input nz-input type="text" maxlength="13" formControlName="phone" placeholder="Enter Merchant Phone" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Merchant Address</label>
        <input nz-input type="text" maxlength="500" formControlName="merchantAddress" placeholder="Enter Merchant Address" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Contact Person Name</label>
        <input nz-input type="text" maxlength="128" formControlName="contactPersonName" placeholder="Enter Contact Person Name" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="flex gap-3 mt-4 w-full">
        <button (click)="currentStep = currentStep - 1" nz-button type="button" [disabled]="currentStep === 1">Previous</button>
        <button (click)="incrementStep(contactInformation)" nz-button type="button" class="button-primary">Next</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #settlementDetailTemp let-data="data">
  <div class="flex flex-col">
    <form [formGroup]="settlementDetail" class="flex flex-wrap justify-between gap-y-4 gap-x-2.5 w-full">
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Bank</label>
        <nz-select nzShowSearch class="w-full mt-3 rounded-md" formControlName="bankId" nzPlaceHolder="Select Bank">
          <nz-option *ngFor="let bank of dummyBankList" [nzLabel]="bank.name" [nzValue]="bank.id"></nz-option>
        </nz-select>
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">Bank Account Title</label>
        <input nz-input type="text" maxlength="100" formControlName="bankAccountTitle" placeholder="Enter Account Title" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">IBAN Number</label>
        <input nz-input type="text" maxlength="34" formControlName="ibanNumber" placeholder="Enter IBAN Number" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full xl:w-6/12 xl:max-w-[49%]">
        <label class="font-normal text-sm">VAT Number</label>
        <input nz-input type="text" maxlength="50" formControlName="vatNumber" placeholder="Enter VAT Number" class="w-full p-2 mt-3 rounded-md" />
      </div>
      <div class="formGroup w-full">
        <label class="font-normal text-sm">Billing Address</label>
        <textarea nz-input type="text" maxlength="1000" [rows]="3" formControlName="billingAddress" placeholder="Enter Your Billing Address" class="w-full p-2 mt-3 rounded-md"></textarea>
      </div>
      <div class="flex gap-3 mt-4 w-full">
        <button (click)="currentStep = currentStep - 1" nz-button type="button" [disabled]="currentStep === 1">Previous</button>
        <button (click)="incrementStep(settlementDetail)" nz-button type="button" class="button-primary">Next</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #attachmentsTemp let-data="data">
  <div class="flex flex-col">
    <div appDragAndDrop (onFileDrag)="dragDocument($event)" class="flex flex-col items-center gap-3 justify-between w-full border rounded-md border-[--secondary-color] p-12">
      <input #fileUpload hidden class="input-image" type="file" (change)="uploadDocument($event)">
      <img class="h-[40px]" src="assets/svgs/file_upload.svg">
      <div class="font-semibold">Drag & drop files or <a (click)="fileUpload.click()" class="cursor-pointer hover:text-[--dark-secondary-color] text-[--dark-secondary-color]">Browse</a></div>
      <div class="text-[--muted-color] text-xs">Supported formats: JPEG, PNG, GIF, MP4, PDF, PSD, AI, Word, PPT</div>
    </div>
    <div class="flex flex-col gap-2.5 py-8">
      <div *ngFor="let doc of uploadedDocuments" class="max-w-[60%]">
        <div class="hover:bg-[--hover-color] border rounded-md flex justify-between p-2.5">
          <span class="text-xs">{{doc.name}}</span>
          <i nz-icon nzType="close-circle" (click)="removeDocument(doc)" class="cursor-pointer text-[--red-color]"></i>
        </div>
        <div class="inline-animate"></div>
      </div>
    </div>
    <div class="flex gap-3 mt-4 w-full">
      <button (click)="currentStep = currentStep - 1" nz-button type="button" [disabled]="currentStep === 1">Previous</button>
      <button [nzLoading]="isLoading" (click)="createMerchant()" nz-button type="button" class="button-primary">Save</button>
    </div>
  </div>
</ng-template>