#edit-merchant{
    background-color: var(--grey-color);
    margin: -15px;
    padding: 15px;
    height: calc(100vh - 36px - var(--header-height));
}
button.ant-btn.upload-btn{
    color: #92CF4F !important;
justify-content:start !important;
padding-left:12px ;
}