<div id="edit-merchant" class="flex flex-col gap-4">
  <nz-breadcrumb class="my-[24px]">
    <nz-breadcrumb-item><a routerLink="/app/dashboard">Home</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/app/merchant">Merchant Management</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Create Merchant</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="flex flex-row gap-2.5">
    <!-- Menu -->
    <div *ngIf="currentStep < 5"
      class="flex flex-col min-w-[260px] max-w-[300px] bg-[--text-color] rounded px-4 py-[24px] box-shadow">
      <div class="font-semibold border-b border-b-[--secondary-color] mb-1.5 p-1.5">
        Menu
      </div>
      <div *ngFor="let step of steps" (click)="currentStep > step.id ? currentStep = step.id : null"
        class="p-2.5 flex items-center gap-2 my-1.5 font-medium transition-colors" [ngClass]="{
      'border-y-2 border-black rounded-0': step.id === currentStep,
      'text-[#808191] cursor-not-allowed': currentStep < step.id,
      'cursor-pointer': currentStep >= step.id
    }">
        <img [src]="step.icon" alt="step-icon" class="w-4 h-4" [ngClass]="{
        ' filter grayscale brightness-[60%]': step.id === currentStep,
        'filter-none': step.id !== currentStep
      }" />
        {{ step.name }}
      </div>
    </div>

    <!-- Menu Content -->
    <div class="w-full bg-white rounded p-6 box-shadow">
      <ng-container [ngSwitch]="currentStep">
        <ng-container *ngIf="currentStep == 1">
          <ng-container *ngTemplateOutlet="basicInformationTemp; context: { data: null }"></ng-container>
        </ng-container>
        <ng-container *ngIf="currentStep == 2">
          <ng-container *ngTemplateOutlet="ownerDetailsTemp; context: { data: null }"></ng-container>
        </ng-container>
        <ng-container *ngIf="currentStep == 3">
          <ng-container *ngTemplateOutlet="bankDetailsTemp; context: { data: null }"></ng-container>
        </ng-container>
        <ng-container *ngIf="currentStep == 4">
          <ng-container *ngTemplateOutlet="documentsTemp; context: { data: null }"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #basicInformationTemp let-data="data">
  <div class="flex flex-col">
    <h2 class="text-lg font-semibold mb-4">Basic Information</h2>
    <form [formGroup]="basicInformation" class="flex flex-col gap-4">
      <div class="formGroup flex items-center gap-4 custom-platform-wrapper">
        <div class="w-1/2">
          <label class="font-normal text-sm">Platform</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md platform" formControlName="platformId"
            nzPlaceHolder="Select Platform">
            <nz-option *ngFor="let platform of platformList" [nzLabel]="platform.platformName"
              [nzValue]="platform.platformId"></nz-option>
          </nz-select>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Merchant</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="merchantId"
            nzPlaceHolder="Select Merchant">
            <nz-option *ngFor="let merchant of dummyMerchantList" [nzLabel]="merchant.name"
              [nzValue]="merchant.id"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="formGroup flex items-center gap-4 ">
        <div class="w-1/2">
          <label class="font-normal text-sm">Merchant Platform ID</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="merchantPlatformId"
            nzPlaceHolder="Select Merchant Platform ID">
            <nz-option *ngFor="let platformId of dummyPlatformIdList" [nzLabel]="platformId.name"
              [nzValue]="platformId.id"></nz-option>
          </nz-select>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Business Type</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md border" formControlName="businessType"
            nzPlaceHolder="Select Business Type">
            <nz-option *ngFor="let type of businessTypeList" [nzLabel]="type.businessTypeName"
              [nzValue]="type.businessTypeId"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Business Registration Number</label>
          <input nz-input type="text" maxlength="100" formControlName="businessRegistrationNumber"
            placeholder="Enter Business Registration Number" class="w-full p-2 mt-2 rounded-md border-2" />
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Industry</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="industry"
            nzPlaceHolder="Select Industry">
            <nz-option *ngFor="let industry of industryList" [nzLabel]="industry.industryName"
              [nzValue]="industry.industryId"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Country</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="countryId"
            nzPlaceHolder="Select Country">
            <nz-option *ngFor="let country of countryList " [nzLabel]="country.countryName"
              [nzValue]="country.countryId"></nz-option>
          </nz-select>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">State/Province</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="stateId"
            nzPlaceHolder="Select State/Province">
            <nz-option *ngFor="let state of stateList" [nzLabel]="state.stateName"
              [nzValue]="state.stateId"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">City</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="cityId" nzPlaceHolder="Select City">
            <nz-option *ngFor="let city of cityList" [nzLabel]="city.cityName" [nzValue]="city.cityId"></nz-option>
          </nz-select>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Business Address</label>
          <input nz-input type="text" maxlength="500" formControlName="businessAddress"
            placeholder="Enter Business Address" class="w-full p-2 mt-2 rounded-md" />
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2"></div>
        <!-- <div class="w-1/2">
          <a (click)="addNewField()" class="text-blue-500 underline cursor-pointer">Add New Field</a>
          <div *ngFor="let field of dynamicFields; let i = index" class="mt-4">
            <div class="flex flex-col">
              <label class="font-normal text-sm">Field Label</label>
              <input nz-input type="text" [(ngModel)]="field.label" (ngModelChange)="updateFieldValue(i)" placeholder="Enter Field Label" class="w-full p-2 mt-2 rounded-md bg-gray-100" />
            </div>
            <div class="flex flex-col mt-2">
              <label class="font-normal text-sm">Enter Field Value</label>
              <input nz-input type="text" [(ngModel)]="field.value" placeholder="Enter Field Value" class="w-full p-2 mt-2 rounded-md bg-gray-100" />
            </div>
            <button (click)="removeField(i)" nz-button type="button" class="btn btn-outline mt-2">Remove</button>
          </div>
        </div> -->
      </div>
      <div class="flex gap-3 mt-4">
        <button (click)="currentStep = currentStep - 1" nz-button type="button" class="btn btn-outline"
          [disabled]="currentStep === 1">Close</button>
        <button (click)="incrementStep(basicInformation)" nz-button type="button" class="btn btn-primary">Next</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #ownerDetailsTemp let-data="data">
  <div class="flex flex-col">
    <h2 class="text-lg font-semibold mb-4">Owner Details</h2>
    <form [formGroup]="ownerDetails" class="flex flex-col gap-4">
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Full Name</label>
          <input nz-input type="text" maxlength="128" formControlName="contactPersonName" placeholder="Enter Full Name"
            class="w-full p-2 mt-2 rounded-md" />
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Email</label>
          <input nz-input type="email" maxlength="320" formControlName="email" placeholder="Enter Email"
            class="w-full p-2 mt-2 rounded-md" />
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">CNIC/Passport Number</label>
          <input nz-input type="text" maxlength="50" formControlName="cnicOrPassportNumber"
            placeholder="Enter CNIC/Passport Number" class="w-full p-2 mt-2 rounded-md" />
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Contact Number</label>
          <input nz-input type="text" maxlength="13" formControlName="phone" placeholder="Enter Contact Number"
            class="w-full p-2 mt-2 rounded-md" />
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Date of Birth</label>
          <nz-date-picker class="w-full p-2 mt-3 rounded-md" [nzFormat]="'dd-MM-yyyy'"
            [nzDisabledDate]="disabledFutureDate" [nzInputReadOnly]="true"
            formControlName="dateOfBirth"></nz-date-picker>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Upload Selfie</label>
          <div class="flex flex-col gap-2">
            <input #selfieUpload hidden class="input-image" type="file" accept="image/*"
              (change)="uploadSelfie($event)">
            <button (click)="selfieUpload.click()" nz-button
              class="upload-btn w-full p-2 btn-outline !border-dashed border-2 !border-gray-300"><img
                src="assets/svgs/upload.svg" alt="upload-icon" class="mr-2">Upload File</button>
            <div *ngIf="uploadedFiles['selfieUrl']" class="text-sm  flex items-center gap-1">
              <span class="flex items-center gap-1"><i nz-icon nzType="file"></i> {{ uploadedFiles['selfieUrl']
                }}</span>
              <span *ngIf="uploadProgress['selfieUrl'] < 100" class="text-blue-500"> Uploading... {{
                uploadProgress['selfieUrl'] }}%</span>
              <i nz-icon nzType="close-circle" *ngIf="uploadProgress['selfieUrl'] === 100"
                (click)="ownerDetails.controls['selfieUrl'].setValue(null); uploadedFiles['selfieUrl'] = ''; uploadProgress['selfieUrl'] = 0;"
                class="!text-red-500 cursor-pointer"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Upload CNIC Front</label>
          <div class="flex flex-col gap-2">
            <input #cnicFrontUpload hidden class="input-image" type="file" accept="image/*"
              (change)="uploadCnicFront($event)">
            <button (click)="cnicFrontUpload.click()" nz-button
              class="upload-btn w-full p-2 btn-outline !border-dashed border-2 !border-gray-300"><img
                src="assets/svgs/upload.svg" alt="upload-icon" class="mr-2">Upload File</button>
            <div *ngIf="uploadedFiles['cnicFrontUrl']" class="text-sm  flex items-center gap-1">
              <span class="flex items-center gap-1"><i nz-icon nzType="file"></i> {{ uploadedFiles['cnicFrontUrl']
                }}</span>
              <span *ngIf="uploadProgress['cnicFrontUrl'] < 100" class="text-blue-500"> Uploading... {{
                uploadProgress['cnicFrontUrl'] }}%</span>
              <i nz-icon nzType="close-circle" *ngIf="uploadProgress['cnicFrontUrl'] === 100"
                (click)="ownerDetails.controls['cnicFrontUrl'].setValue(null); uploadedFiles['cnicFrontUrl'] = ''; uploadProgress['cnicFrontUrl'] = 0;"
                class="!text-red-500 cursor-pointer"></i>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Upload CNIC Back</label>
          <div class="flex flex-col gap-2">
            <input #cnicBackUpload hidden class="input-image" type="file" accept="image/*"
              (change)="uploadCnicBack($event)">
            <button (click)="cnicBackUpload.click()" nz-button
              class="upload-btn w-full p-2 btn-outline !border-dashed border-2 !border-gray-300"><img
                src="assets/svgs/upload.svg" alt="upload-icon" class="mr-2">Upload File</button>
            <div *ngIf="uploadedFiles['cnicBackUrl']" class="text-sm  flex items-center gap-1">
              <span class="flex items-center gap-1"><i nz-icon nzType="file"></i> {{ uploadedFiles['cnicBackUrl']
                }}</span>
              <span *ngIf="uploadProgress['cnicBackUrl'] < 100" class="text-blue-500"> Uploading... {{
                uploadProgress['cnicBackUrl'] }}%</span>
              <i nz-icon nzType="close-circle" *ngIf="uploadProgress['cnicBackUrl'] === 100"
                (click)="ownerDetails.controls['cnicBackUrl'].setValue(null); uploadedFiles['cnicBackUrl'] = ''; uploadProgress['cnicBackUrl'] = 0;"
                class="!text-red-500 cursor-pointer"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-3 mt-4">
        <button (click)="currentStep = currentStep - 1" nz-button type="button" class="btn btn-outline"
          [disabled]="currentStep === 1">Back</button>
        <button (click)="incrementStep(ownerDetails)" nz-button type="button" class="btn btn-primary">Next</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #bankDetailsTemp let-data="data">
  <div class="flex flex-col">
    <h2 class="text-lg font-semibold mb-4">Bank Details</h2>
    <form [formGroup]="bankDetails" class="flex flex-col gap-4">
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Bank Name</label>
          <nz-select nzShowSearch class="w-full mt-2 rounded-md" formControlName="bankId" nzPlaceHolder="Select Bank">
            <nz-option *ngFor="let bank of dummyBankList" [nzLabel]="bank.name" [nzValue]="bank.id"></nz-option>
          </nz-select>
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">Account Title</label>
          <input nz-input type="text" maxlength="100" formControlName="accountTitle" placeholder="Enter Account Title"
            class="w-full p-2 mt-2 rounded-md" />
        </div>
      </div>
      <div class="formGroup flex items-center gap-4">
        <div class="w-1/2">
          <label class="font-normal text-sm">Account Number</label>
          <input nz-input type="text" maxlength="50" formControlName="accountNumber" placeholder="Enter Account Number"
            class="w-full p-2 mt-2 rounded-md" />
        </div>
        <div class="w-1/2">
          <label class="font-normal text-sm">IBAN</label>
          <input nz-input type="text" maxlength="34" formControlName="iban" placeholder="Enter IBAN"
            class="w-full p-2 mt-2 rounded-md" />
        </div>
      </div>
      <div class="flex gap-3 mt-4">
        <button (click)="currentStep = currentStep - 1" nz-button type="button" class="btn btn-outline"
          [disabled]="currentStep === 1">Back</button>
        <button (click)="incrementStep(bankDetails)" nz-button type="button" class="btn btn-primary">Next</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #documentsTemp let-data="data">
  <div class="flex flex-col">
    <h2 class="text-lg font-semibold mb-4">Documents</h2>
    <table class="w-full table-auto">
      <thead class="bg-[#F2F2F2]">
        <tr class="text-left text-sm font-medium text-black">
          <th class="p-3 !rounded-t-lg">Name</th>
          <th class="p-3">Date</th>
          <th class="p-3 !rounded-t-lg">Upload File</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of documentTypes" class="border-t">
          <!-- Document Name -->
          <td class="p-3 font-normal text-sm !max-w-[250px]">{{ doc.name }}</td>

          <!-- Date -->
          <td class="p-3 font-normal text-sm min-w-28">
            <span *ngIf="doc.fileUrl && doc.date">{{ doc.date | date: 'yyyy-MM-dd' }}</span>
          </td>

          <!-- Upload Section -->
          <td class="p-3 max-w-[300px]">
            <div class="flex flex-col gap-2 ">
              <input #fileUpload hidden type="file" accept="image/*,application/pdf"
                (change)="uploadDocument($event, doc)" />

              <!-- Upload button (only shown if no file uploaded) -->
              <button *ngIf="!doc.fileUrl" (click)="fileUpload.click()" nz-button
                class="doc-upload-btn w-fit px-4 py-2 mt-1 btn-outline flex items-center gap-2">
                <img src="assets/svgs/upload.svg" alt="upload-icon" class="w-4 h-4" />
                Upload File
              </button>

              <!-- Uploaded file name + progress + remove icon -->
              <div *ngIf="doc.fileUrl" class="text-sm flex items-center gap-2 max-w-[270px]">
                <i nz-icon nzType="file"></i>
                <span class="text-[#679CE0]">{{ doc.uploadingFileName }}</span>

                <!-- Show progress if still uploading -->
                <span *ngIf="doc.progress < 100" class="text-[#679CE0]">
                  Uploading... {{ doc.progress | number: '1.0-0' }}%
                </span>

                <!-- Remove option -->
                <i nz-icon nzType="close-circle" class="!text-red-500 cursor-pointer" (click)="removeDocument(doc)"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex gap-3 mt-4">
      <button (click)="currentStep = currentStep - 1" nz-button type="button" class="btn btn-outline"
        [disabled]="currentStep === 1">Back</button>
      <button [nzLoading]="isLoading" (click)="createMerchant()" nz-button type="button" class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</ng-template>