
$light-gray: #F7F7F7;
$gray: #75747F;
$green: #A8D972;
$light-green: #D7F1DF;
$grass-green: #57A19D;
$light-blue: #EBF5F9;
$dark-gray: #F0F0F0;
$danger: #F36262;
$danger2: #E74D4D;
$orange: #EEA552;
$light-black: #283144;
$font-family: 'Roboto','Inter', sans-serif;
$mobile: 425px;
$tablet: 768px;
$laptop:1024px;
$border-color: #F0F0F0;