::ng-deep {
    .checkbox-item.mat-menu-item {
        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: var(--primary-color);
        }
    }
    .mat-checkbox-inner-container{
        height: 14px!important;
        width: 14px!important;
    }
}

